body {
    margin: 0;
    display: flex;
    font-family: arial;
}

.navcolumn {
    width: 150px;
    height: 100vh;
    background-color: #243943;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;

}
.navrow {
    display: flex;
    height: 100vh;
    background-color: #740808;
    padding: 20px;
    gap: 10px;
}

.navcolumn-links{
    display: flex; 
    flex-direction: column;
    gap: 15px;
    margin-top: 20px; 
}

.nav-links a {
    color: white;
    text-decoration: none; 
    padding: 8px;
}

.content {
    flex: 1;
    padding: 20px;
}

.button menu {
    position: absolute;
    top: 50px;
    left: 100px;
}

.button search {
    position: absolute;
    top: 50px;
    left: 500px;
}